.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

.logout {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
}