.k-overlay{
    background-color: transparent;
    width: 0%;
    height: 0%;
}

/* .k-dialog-wrapper .k-dialog {
    margin-top: -250px;
    position: absolute;
} */
.k-dialog-wrapper .k-dialog {
    margin-top: -22%;
    position: absolute;
    margin-left: 28%;
}


.k-window-content, .k-prompt-container {
    height: 90px;
}

.tooltip {
    width: 15%;
    border-width: 1px;
    border: solid;
    position: absolute;
    z-index: 1000;
    /* margin-left: 1253px; */
    background: #fff;
    margin-top: 80px;
}